footer{
    position: absolute;
    z-index:1;

    width:100%;
    bottom: 0;
    
    text-align: center;
}

p {
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.paragraphSubtext{
    font-size: 1.5em;
}