@font-face {
    font-family: BebasNeue;
    font-weight: bold;
    src: url("./assets/BebasNeue Bold.otf") format("opentype");
}

body{
    position: absolute;
    font-family: bebasNeue;

    background-color: black;

    height:100%;
    width: 100%;

    overflow-y: hidden; 
    overflow-x: hidden; 
}

.wrapper{
    display: flex;
	justify-content: center;
}

.userInputCoverScreen{
    position: absolute;

    font-size: 5em;
    font-family: bebasNeue;
    color: white;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
    z-index: 1001;

    text-align: center;

	border: none;
    background-color: rgba(242, 113, 156, 0);

	width:100%;
	height:100%;

	outline-width: 0;
}

.userInputCoverScreen:focus{
    background-color: rgba(242, 113, 156, 0.5);
}

@import "./components/Header/Header.css";
@import "./components/MainContent/MainContent.css";
@import "./components/Footer/Footer.css";