@font-face {
    font-family: BebasNeue;
    font-weight: bold;
    src: url("./assets/BebasNeue Bold.otf") format("opentype");
}

body{
    position: absolute;
    font-family: bebasNeue;

    background-color: black;

    height:100%;
    width: 100%;
}



@import "./components/Header/Header.css";
@import "./components/MainContent/MainContent.css";
@import "./components/Footer/Footer.css";